<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink=''>Khutso's Address Book</a>

    <form class="form-inline my-2 my-lg-0">
        <div class="input-group mr-1">
            <button class="btn btn-success" type="button" routerLink="add-contact"><i class="fas fa-plus"></i> Add Contact</button>
        </div>
        <div class="input-group mr-1">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Upload Contacts</label>
                </div>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-light" type="button"><i class="fas fa-search"></i></button>
            </div>
            <input type="text" class="form-control" placeholder="Search contact" aria-label="Search contact" aria-describedby="basic-addon2">
        </div>
    </form>
</nav>